<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>  <!-- Mailchimp only uses up to four headings -->
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<p>Paragraphs</p> <!-- Use <br /> to create a line break within a paragraph -->

<!-- Wrap these around text you want to style -->
<b>Bold</b>
<em>Usually italics, sometimes bold</em>
<tt>Teletext</tt>
<cite>Citations - usally italics</cite>
<strong>Uasually bold, somtimes italics</strong>
<pre>Preformatted Text</pre>

<blockquote cite="http://developer.mozilla.org">
  <p>This is a quotation taken from
  the Mozilla Developer Center.</p>
</blockquote>


<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
<h2>Morbi a nibh finibus, eleifend leo a, ullamcorper lacus</h2>
<h3>Quisque semper purus nec lectus efficitur cursus</h3>
<h4>Fusce pretium lorem vitae augue dictum iaculis</h4>
<h5>Ut auctor nunc a purus tincidunt iaculis</h5>
<h6>Aenean non enim sit amet nibh imperdiet interdum</h6>

<p>Donec interdum rhoncus velit vitae sodales. Fusce mattis dapibus diam, sit
  amet lobortis dolor lobortis eu. Fusce sit amet massa egestas, condimentum est
  et, placerat quam.<p>

<p>Nunc erat quam, sodales nec maximus vel, malesuada nec tellus.</p>

<p>Sed imperdiet accumsan diam, et pharetra neque pharetra sed. Aliquam feugiat
  aliquet vehicula. Suspendisse ut dui pretium nisl tincidunt laoreet. Proin et
  tortor sit amet quam pellentesque maximus eu eget orci. Vestibulum ante ipsum
  primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam
  pulvinar rutrum facilisis. Donec ut suscipit mi. Donec suscipit efficitur
  purus sit amet pretium. Sed ac erat quis mi commodo gravida vel ut arcu.
  Nulla non tortor quam. Nullam posuere massa bibendum magna tempus rutrum.
  Curabitur imperdiet vel est non rutrum.</p>

<p>Quisque ullamcorper magna vitae congue feugiat. Vivamus vel orci ex.
  Vestibulum eu massa non urna commodo condimentum ac ut ligula. Vivamus vel
  orci pellentesque, varius est viverra, viverra nunc. Integer pellentesque nisl
  nec dignissim hendrerit. Vestibulum fringilla tortor ut accumsan mollis.
  Vestibulum vehicula eros eu tristique finibus. Cras sollicitudin, sapien ac
  blandit volutpat, leo lorem porta velit, maximus consectetur enim neque id
  metus. Aliquam et odio sem. Fusce maximus arcu purus, a tempus neque maximus
  ut. In lacinia nibh sit amet lectus aliquam, eu tincidunt eros tristique.</p>
